{{ define "main" }}
<a class="back-link" href="{{ "posts/" | relLangURL }}">{{ i18n "allPosts" }}</a>
<article class="reading-content">
  <h1>{{ .Title }}</h1>
  <p class="post-meta"><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date | time.Format ":date_medium" }}</time><span>{{ .ReadingTime }} {{ i18n "reading" }}</span></p>
  {{ if gt (len .Fragments.Headings) 0 }}<details class="toc"><summary>{{ i18n "toc" }}</summary>{{ .TableOfContents }}</details>{{ end }}
  <div class="content">{{ partial "article-content.html" . }}</div>
</article>
<a class="back-link" href="{{ "posts/" | relLangURL }}">{{ i18n "explore" }}</a>
{{ end }}
